*,
*::before,
*::after {
  box-sizing: border-box;
}

.dark-theme {
  background-color: #121212;
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: #121212;
  color: #fff;
  padding: 10px 0;
}

.menucontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 60px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 0 20px;
}

.menu {
  display: flex;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-radius: 12px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

.menu-toggle {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 20px 80px;
  padding: 15px 30px;
  border: 1px solid #e7e9fc;
  border-radius: 50px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  height: 600px;
  margin-top: 160px;
  margin-left: 100px;
  border-radius: 30px;
  background-color: #1d1d1d;
  padding: 60px;
  box-sizing: border-box;
}

.hero-text {
  max-width: 650px;
}

.hero {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 40px;
}

.highlight {
  color: #bea69e;
  font-style: italic;
}

.hero-description {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
}

.hero-image {
  height: 500px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.panel-container {
  display: flex;
  width: 1240px;
  height: 112px;
  margin-top: 70px;
  margin-bottom: 20px;
  justify-content: center;
}

.panel-header {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #bea69e;
}

.panel-highlight {
  color: #fff;
}

.about-container {
  display: flex;
  width: 1240px;
  height: 344px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 100px;
  gap: 50px;
}

.about-title {
  weight: 196;
  height: 54px;
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -4%;
  color: white;
  font-size: 30px;
  margin-top: 150px;
}

.about-highlight {
  color: #bea69e;
}

.about-description-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1240px;
  max-height: 240px;
  padding: 50px;
}
.about-image {
  width: 100px;
  height: 50px;
  object-fit: cover;
  border-radius: 1000px;
  transform: rotate(90deg);
}
.about-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 630px;
  max-height: 220px;
  gap: 40px;
}

.about-text {
  color: #fff;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: 20px;
}

.our-courses-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1240px;
  height: 562px;
  margin-left: 100px;
  margin-top: 494px;
}

.our-courses-header {
  width: 1240px;
  height: 562px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.our-courses-title {
  width:265px;
  height: 54px;
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -4%;
  color: white;
}
.our-courses-highlight {
  font-size: 48px;
  color: #bea69e;
}

.our-courses-description {
  width: 565px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: -2%;
}

.our-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  height: 452px;
  margin-top: 100px;
}

.course-card{
  width: 400px;
  height: 452px;
  background-color: #1d1d1d;
  border: 1px solid #060707;
  border-radius: 12px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.course-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 336px;
  height: 32px;
  padding-top: 32px;
  padding-left: 32px;
  gap: 290px;
}

.course-number{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  font-weight: 500;
  color: #FFFFFF;
}

.course-image-wrapper{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 6px;
}

.course-image{
  width: 20px;
  height: 20px;
  padding: 6px 6px;
  background-color: #777777;
}

.course-title{
  width: 265px;
  height: 64px;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  font-weight: 500;
  color: #FFFFFF;
  margin: 32px 32px;
}

.course-description{
  width: 336px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #FFFFFF80;
  margin: 294px 32px;
}

.mentors-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -4%;
  color: white;
  margin-top: 712px;
}

.mentors-highlight {
  color: #bea69e;
}

.mentors-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1034px;
  max-height: 250px;
  margin-top: 104px;
  margin-left:100px;
}

.mentor-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.mentor-image {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 200px;
}

.mentor-name {
  width: 174px;
  height: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0%;
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
}

.mentor-bio {
  width: 149px;
  height: 18px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #FFFFFF80;
  text-align: center;
  margin-top: 8px;
}

.sign-up-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1240px;
  height: 578px;
  margin-top: 160px;
  margin-left: 100px;
  background-color: #1d1d1d;
  gap: 200px;
  box-sizing: border-box;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  height: 578px;
  gap: 24px;
  margin-top: 100px;
}

.sign-up-title{
  width: 159px;
  height: 54px;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -4%;
  color: #FFFFFF;
  text-align: center;
}

.sign-up-highlight{
  color: #bea69e;
}

.name-input{
  width:480px;
  height:60px;
  background-color:#FFFFFF33;
  border:1px solid #FFFFFF33;
  border-radius:12px;
  padding-top:154px;
}

.email-input{
  width:480px;
  height:60px;
  background-color:#FFFFFF33;
  border:1px solid #FFFFFF33;
  border-radius:12px;
  padding-top:228px;
}

.message-input{
  width:480px;
  height:120px;
  background-color:#FFFFFF33;
  border:1px solid #FFFFFF33;
  border-radius:12px;
  padding-top:302px;
}

.sign-up-button{
  width:480px;
  height:60px;
  background-color:#FFFFFF;
  border:1px solid #FFFFFF33;
  border-radius:12px;
  padding:16px 216px;
  cursor: pointer;
  color:#121212;
  font-size:18px;
  font-weight:700;
  line-height:28px;
  letter-spacing:0%;
  paragraph-spacing:18px;
}

.sign-up-image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sign-up-image{
  width: 190px;
  height: 288px;
  padding-top:252px;
  object-fit: contain;
  border-radius: 1000px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #BEA69E;
}

.sign-up-image-camera{
  width: 350px;
  height: 540px;
  object-fit: contain;
  border-radius: 1000px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #121212;
}