.dark-theme {
  background-color: #121212;
  margin: 0;
  font-family: sans-serif;
}

.header {
  background-color: #121212;
  color: #fff;
  padding: 10px 0;
}

.menucontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 60px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 0 20px;
}

.menu {
  display: flex;
  align-items: center;
  border: 1px solid #e7e9fc;
  border-radius: 12px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #555;
}

.menu-toggle {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  margin: 20px 80px;
  padding: 15px 30px;
  border: 1px solid #e7e9fc;
  border-radius: 50px;
  cursor: pointer;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
  height: 600px;
  margin-top: 160px;
  margin-left: 100px;
  border-radius: 30px;
  background-color: #1d1d1d;
  padding: 60px;
  box-sizing: border-box;
}

.hero-text {
  max-width: 650px;
}

.hero {
  font-size: 64px;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 40px;
}

.highlight {
  color: #bea69e;
  font-style: italic;
}

.hero-description {
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0;
}

.hero-image {
  height: 500px;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.panel-container {
  display: flex;
  width: 1240px;
  height: 112px;
  margin-top: 70px;
  margin-bottom: 20px;
  justify-content: center;
}

.panel-header {
  text-align: center;
  padding: 10px;
  font-weight: normal;
  font-size: 50px;
  line-height: 64px;
  letter-spacing: -2%;
  text-transform: uppercase;
  color: #bea69e;
}

.panel-highlight {
  color: #fff;
}

.about-container {
  display: flex;
  max-width: 1240px;
  max-height: 344px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-left: 100px;
}

.about-title {
  text-indent: 50px;
  color: white;
  font-size: 30px;
  margin-top: 150px;
}

.about-highlight {
  color: #bea69e;
}

.about-description-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: ;
  width: 1240px;
  height: 240px;
  padding: 50px;
}
.about-image {
  width: 240px;
  height: 560px;
  margin: 0 40px 0 0;
  object-fit: cover;
  border-radius: 1000px;
  transform: rotate(90deg);
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-right: 370px;
}

.about-text-first {
  color: #fff;
  max-width: 314px;
  max-height: 220px;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: 20px;
  margin-right: 40px;
}

.about-text-second {
  color: #fff;
  max-width: 276px;
  max-height: 215px;
  font-size: 16px;
  letter-spacing: -2%;
  line-height: 20px;
}
